<div class = main-background>
<div class="card mb-3" style="max-width: 540px;">
<div class = center-form>
  <div class="row g-0">
    <div class="col-md-4">
    <%if @listing.picture.attached?%>
      <%=image_tag @listing.picture, alt: @listing.title, class:"card-img-top"%>
    <%else%>
      <%=image_tag "look-at-this.jpg", alt: "hang gesture", class:"card-img-top"%>
    <%end%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=@listing.title%></h5>
        <h4 class='text-muted'>Categories: <%=@listing.category%></h4>
        <h5 class='text-muted mb-3'>Price: <%=format_price(@listing.price)%></h5>
        <p><%=@listing.description%></p>
      </div>

      <%if current_memeber && @listing.sold == false %>
      <button class='btn btn-primary mb-3' data-stripe='payment'>Buy: <%=format_price(@listing.price)%></button>
      <%elsif @listing.sold%>
      <button class='btn btn-secondary' disabled>SOLD</button>
      <%else%>
      <%=button_to "Login to buy", new_memeber_session_path, class: "btn btn-info"%>
      <%end%>


      <div class ='container'>
        <%if current_memeber && current_memeber.id == @listing.memeber_id%>
          <div class='d-flex justify-content-equally'>
        <%= link_to "Edit", edit_listing_path(@listing.id), class: "btn btn-warning mr-2" %>
        <%= link_to "Delete", @listing, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
      </div>
      <%end%>
    </div>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
document
  .querySelector("[data-stripe='payment']")
  .addEventListener("click", () => {
    const stripe = Stripe("<%=Rails.application.credentials.dig(:stripe, :public_key)%>");
    stripe.redirectToCheckout({
      sessionId: "<%=@session_id%>"
    })
  })
  </script>
  </div>
  </div>