<nav class="navbar navbar-light" style="background-color: #a9a9a9;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #cecece">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
        <%= link_to  "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to  "All listings", listings_path, class: "nav-link" %>
        <li class="nav-item">
            <%= link_to  "settings", settings_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to  "pricing", pricing_path, class: "nav-link" %>
        </li>
        <%if memeber_signed_in?%>
        <li class="nav-item">
            <%= link_to  "Create Listing", new_listing_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to  "Trade", trade_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to  "Log Out", destroy_memeber_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to  "Chat", chat_path, class: "nav-link" %>
        </li>
        <%else%>
        <li class="nav-item">
            <%= link_to "log in", new_memeber_session_path, class: "nav-link" %>
        </li>
        <%end%>
        </ul>
    </div>
    </nav>
</nav>
